@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Roboto+Slab:wght@500;700&display=swap');

$ff-main: 'Montserrat', sans-serif;
$ff-secondary: 'Roboto Slab', serif;

$fw-heavy-m: 700;
$fw-imp-m: 600;
$fw-reg-m: 400;

$fw-heavy-s: 700;
$fw-imp-s: 500;