footer {
	background-color: $dark-blue;
	color: $light-text;
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
	align-items: center;
	padding-bottom: 1em;


	h1 {
		font-size: 1.5rem;
	}

	.social-icons {
		width: 40%;
		max-width: 15em;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		a {
			width: 25%;
			max-width: 3em;
		}
	}


	.social-icon {
		width: 100%;
		max-width: 3em;
	}

	small {
		margin-top: 3em;
	}	
}